<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//WAPFORUM//DTD XHTML Mobile 1.0//EN' 
'http://www.wapforum.org/DTD/xhtml-mobile10.dtd'> 
<html xmlns='http://www.w3.org/1999/xhtml'>
<head>
     <title>Archivo-Medico.com (mobile)</title>
</head>
<body>
    <form action="/buscarmovil" method="post">
    <table>
        <tr>
            <td>
                Nombre
            </td>
            <td>
                Ap.Paterno
            </td>
            <td>
                Ap.Materno
            </td>
        </tr>
        <tr>
            <td>
                
            </td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
           <td colspan=3>
            <input type="submit" value="Buscar"/>
           </td>
        </tr>
    </table>
    </form>
</body>
</html>
