<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//WAPFORUM//DTD XHTML Mobile 1.0//EN' 
'http://www.wapforum.org/DTD/xhtml-mobile10.dtd'> 
  <html xmlns='http://www.w3.org/1999/xhtml'>
    <head>
        <title>Archivo-Medico.com (mobile)</title>
    </head>
    <body>
		<h1>Archivo-Medico (Movil)</h1>
		<form action="/signmobile" method="post">
		<table>
			<tr>
				<td>Usuario:</td>
				<td><input id="user"></input></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type="password" id="password"></input></td>
			</tr>
		</table>
		<div><input type="submit" value="Aceptar"></div>
         </form>
    </body>
  </html>