<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE html PUBLIC '-//WAPFORUM//DTD XHTML Mobile 1.0//EN' 
'http://www.wapforum.org/DTD/xhtml-mobile10.dtd'> 
  <html xmlns='http://www.w3.org/1999/xhtml'>
    <head>
        <title>Archivo-Medico.com (mobile)</title>
    </head>
	<body>
			<h1>Archivo-Medico (Movil)</h1>
		<table>
			<tr><td><a href =".">Mis Citas del d&iacute;a</a></td></tr>
			<tr><td><a href ="/hitorialmovil">Historial cl&iacute;nico de paciente</a></td></tr>
			<tr><td><a href ="/logoutmovil">Cerrar Sesi&oacute;n</a></td></tr>
		</table>
	</body>
  </html>