{% extends "base.html" %}
{%block datos %}
<head>
	<link type="text/css" href="media/cupertino/ui.all.css" rel="stylesheet" />
	<link href="media/css/forma.css" rel="stylesheet" type="text/css" /> 
</head>
<style type="text/css">	
	#errorCaptura { color:rgb(209,22,60); }
</style>
<!--form method="POST" action="/"-->
		<div id="forma">
			{%if existe%}
								
				<p><label>Usuario:</label>				
				<input id="newuser" onchange="BuscarUsuario()"></input>
				<tt id="buscando"></tt></p>
			
				<p><label>Password:</label>
				<input id="newpassword" type="password" onchange="ValidoLongitud('newpassword','validalongitudPassword');" onfocus="ValidoLongitud('newuser','buscando');"></input>
				<tt id="validalongitudPassword"></tt></p>
				<p><label>Repita Password:</label>
				<input id="newpassword2" type="password" onchange="ValidoPassword();" onfocus="ValidoLongitud('newpassword','validalongitudPassword');"></input>
				<tt id="validaPassword"></tt></p>
			{% endif %}
			{{FormaSecretaria.as_p}}
			<p><label>Doctores que atiende:</label>
			<select id="Doctores" readonly="readonly" multiple="multiple">
				{%if not existe%}
				{%if doctores%}
					{%for doctor in doctores%}
						<option value="{{doctor.usuario.usuario}}" >Dr. {{doctor.nombre}} {{doctor.paterno}} {{doctor.materno}}</option>
					{%endfor%}
				{%endif%}
				{%endif%}
			</select></p>
		<!--input type="submit" class="button" value="Enviar"/-->
		<div id="errorCaptura" >Faltan capturar algunos campos obligatorios</div><br>
		<div  class="botonForma" >
		<button class="forma" onclick="ValidoDatos()">Grabar</button>
		<button class="forma" onclick="AddDr()">A&ntilde;adir Dr.</button>
		</div>
		</div>
<!--/form-->
<div id="dialog" title="Login">
	Pida al Dr. que capture sus datos<br>
	Usuario :
	<input id="user" onfocus="LimpioMensaje()"></input>
	<br>
	<br>	
	Password:
	<input type="password" id="password"  onfocus="LimpioMensaje()"></input>	
	<div id="errorLogin">El usuario o password no existen o son incorrectos</div>
</div>

<script type="text/javascript" src="media/js/jquery-1.3.2.js"></script>
  <script type="text/javascript" src="media/js/ui.core.js"></script>
  <script type="text/javascript" src="media/js/ui.draggable.js"></script>
  <script type="text/javascript" src="media/js/ui.resizable.js"></script>
  <script type="text/javascript" src="media/js/ui.dialog.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$("#errorCaptura").fadeOut("fast");
	$("#errorLogin").fadeOut("fast");
	Dialogo();	
	

});
function ValidoDatos()
{
	$("input").each(
		function() {						
			if($(this).attr("value").length==0)	
			{	
				$(this).addClass("error");
			}
			else
			{
				$(this).removeClass("error");
			}
	});
	if($("input").hasClass("error"))
	{		
		$("#errorCaptura").text("Faltan capturar algunos campos obligatorios");
		$("#errorCaptura").fadeIn("slow");
	}
	else
	{		
		GraboDatos();
	}
}
  function LimpioMensaje()
  {
	$("#errorLogin").fadeOut("slow");
  }

function Doctores(){
	var doctores=""
	$("#Doctores option").each(function (i){
		doctores+=$(this).attr("value")+"|"
	});
	return doctores;
}
function GraboDatos()
{
	var usuario=$("#newuser").attr("value");	
	var password=$("#newpassword").attr("value");
	var nombre=$("#id_nombre").attr("value");
	nombre=nombre.toUpperCase();
	var paterno=$("#id_paterno").attr("value");
	paterno=paterno.toUpperCase();
	var materno=$("#id_materno").attr("value");	
	materno=materno.toUpperCase();
	var telefono=$("#id_telefono").attr("value");
	var celular=$("#id_celular").attr("value");
	var direccion=$("#id_direccion").attr("value");	
	var doctores=Doctores();
	ajax={
		type: "POST",
		async:true,
		//dataType:"json",
		url:"/grabosecretaria",
		data:"usuario="+usuario+"&password="+password+
			"&nombre="+nombre+"&paterno="+paterno+
			"&materno="+materno+"&doctores="+doctores+
			"&celular="+celular+"&telefono="+telefono+
			"&direccion="+direccion,		
		error: function ()
				{
					alert("Ocurrio un error con el alta de la secretaria");
					$("#buscando").html("");
				},            
		success:ReciboDatosSecretaria
	};       		
	$.ajax(ajax);//llamo la funcion con JQUERY  	
}

function ReciboDatosSecretaria(datos)
{
	$("#errorCaptura").text("Datos grabados con exito");
	$("#errorCaptura").fadeIn("slow");	
}

function ValidoLongitud(Campo,div)
{
	var bRetorno=false;
	pass=$("#"+Campo).attr("value");
	if(pass.length<=1)
	{
		$("#"+Campo).addClass("error");
		$("#"+div).html("<img src='../media/imgs/no.png'></img> El campo es obligatorio");
	}
	else
	{
		
		if( $("#"+div).text()!=" Usuario no disponible"  &&
			$("#"+div).text()!=" Usuario disponible")
		{
			$("#"+Campo).removeClass("error");		
			$("#"+div).html("");			
		}
		bRetorno=true;
	}
	return bRetorno;
}
function ValidoPassword()
{
	var bRetorno=false;
	if(ValidoLongitud('newpassword','validalongitudPassword'))
	{
		if($("#newpassword").attr("value")==$("#newpassword2").attr("value"))
		{
			$("#newpassword").removeClass("error");
			$("#newpassword2").removeClass("error");
			$("#validaPassword").html("");
			bRetorno=true;
		}
		else
		{
			$("#newpassword").addClass("error");
			$("#newpassword2").addClass("error");
			$("#validaPassword").html("<img src='../media/imgs/no.png'></img> Los password no coinciden");
		}
	}
	return bRetorno;
}
function BuscarUsuario()
{
	$("#buscando").html("<img src='../media/imgs/searching.gif'></img> Validando usuario");
	BusquedaAjaxUsuario();
}
function BusquedaAjaxUsuario()
 {
        var Dato=$("#newuser").attr("value");
	if(ValidoLongitud('newuser','buscando'))
	{
		ajax={
			type: "POST",
			async:true,
			dataType:"json",
			url:"/busquedausuario",
			data:"usuario="+Dato,
			error: function ()
					{
						alert("Ocurrio un error con la consulta de usuario");
						$("#buscando").html("");
					},            
			success:ReciboDatos
		};       		
		$.ajax(ajax);//llamo la funcion con JQUERY   
	}		
 }
 
function ReciboDatos(datos)
{
    for (obj in datos)
	{
		if(datos[obj].user==0)
		{
			UsuarioCorrecto();
		}
		else
		{
			UsuarioInorrecto();
		}
	}
}
function UsuarioCorrecto()
{
	$("#buscando").html("<img src='../media/imgs/ok.png'></img> Usuario disponible");
	$("#newuser").removeClass("error");
}
function UsuarioInorrecto()
{
	$("#buscando").html("<img src='../media/imgs/no.png'></img> Usuario no disponible");
	$("#newuser").addClass("error");	
}
function AddDr(){
	$("#dialog").dialog('open');
}
function Dialogo(){
		$("#dialog").dialog( {width: 650, 
			height: 370 , modal:true,
			/*show: 'slide', */ hide: 'slide',
			resizable: false, autoOpen: false,
			closeOnEscape:false,draggable:false,
			buttons:{ "Aceptar": function() { 							
					if($("#user").attr("value").length>0 && $("#password").attr("value").length>0) 
					{			
						ValidoUsuario();
						//$(this).dialog('destroy'); 
					}
				}}
			}	
		);

}

function ValidoUsuario(){
	var usuario=$("#user").attr("value");
	var password=$("#password").attr("value");
        ajax={
            type: "POST",
            async:true,
            dataType:"json",
            url:"/validoPasswordDr",
            data:"usuario="+usuario+"&password="+password,
            error: function ()
                    {
                        alert("Ocurrio un error con la validacion de la cuenta");						
                    },            
            success:ReciboDatosDr
        };       		
        $.ajax(ajax);//llamo la funcion con JQUERY 
	}
	
	function ReciboDatosDr(datos)
	{
		for (obj in datos)
		{				
			if(datos[obj].user!="failure")
			{
				usr=datos[obj].user;
				cadenas=usr.split("|");
				if (ValidoSelectDrs(cadenas[0]))
				{
					$("#Doctores").append("<option value='"+cadenas[0]+"'>"+cadenas[1]+"</option>");
				}
				$("#dialog").dialog('close');
				/*Añadir al textbox*/
			}
			else
			{
				$("#errorLogin").fadeIn("slow");
			}
		}
	}
	function ValidoSelectDrs(dr)
	{
		var bRetorno=true;
		$("#Doctores option").each(function (i){
						if($(this).attr("value")==dr)
						{
							bRetorno=false;
						}
					});		
		return bRetorno;
	}
</script>
{%endblock %}