{%extends "base.html"%}
{%block datos%}
<head>  
  <link type="text/css" href="media/css/consulta.css" rel="stylesheet" />
  <link type="text/css" href="media/css/verEstudios.css" rel="stylesheet" />  
  <link type="text/css" href="media/cupertino/ui.all.css" rel="stylesheet" />  
</head>
  
<div id="busquedaPaciente">
    {%if dr%}
    <p>Seleccione el nombre del paciente para obtener sus diagnosticos previos</p>
        <p><label >Nombre</label>
		<input id="nombre" style="width:120;"></input>
        <label>Paterno</label>
		<input id="paterno" style="width:120;"></input>
        <label>Materno</label>
		<input id="materno" style="width:120;"></input>		</p>
		<Button id="buscar" class="buscar" onclick="buscoNombre()" >Buscar</Button>
		<br><br>
    
    {%endif%}
<div id="verEstudios">
    <SELECT id="estudios" NAME="estudios" MULTIPLE class="input">
        <option>link 1</option>
	<option>link 2</option>
    </SELECT>
    <table>
	<tr>
	    <td><Button id="VerEstudio" class="buscar">Ver estudio</Button></td>
	</tr>
    </table>
</div>
</div>

<div id="dialogoNombre" title="Nombres de la busqueda">
	
	<SELECT id="Nombres" NAME="Nombres" class="tabla" SIZE=10>
	<!--OPTION VALUE="Juan-Camaney-Ramos">Juan-Camaney-Ramos-12/80/1973</option>
	<OPTION VALUE="Jose-Perez-Lopez">Jose-Perez-Lopez-12/80/1973</option>
	<OPTION VALUE="Jorge-De la Rosa- Lopez">Jorge-De la Rosa- Lopez-12/80/1973</option>
	<OPTION VALUE="Pedro-Perez-Lopez">Pedro-Perez-Lopez-12/80/1973</option>
	<OPTION VALUE="Pedro-Lopez-Lopez">Pedro-Lopez-Lopez-12/80/1973</option-->
	</SELECT>
    <div align="right"><button class="botonWide" onclick="Seleccionar('nombre','paterno','materno')">Seleccionar</button></div>

</div>

<script type="text/javascript" src="media/js/jquery-1.3.2.js"></script>
  <script type="text/javascript" src="media/js/ui.core.js"></script>
  <script type="text/javascript" src="media/js/ui.tabs.js"></script>
  <script type="text/javascript" src="media/js/ui.draggable.js"></script>
  <script type="text/javascript" src="media/js/ui.resizable.js"></script>
  <script type="text/javascript" src="media/js/ui.dialog.js"></script>
  
  <script type="text/javascript" src="media/js/dialogonombre.js"></script>
  
    <script type="text/javascript">
  $(document).ready(function(){    
    DialogoNombre();
  });
  </script>
{%endblock%}